    .about{
        margin: 3% 0 0 0;
    }
    
    .title{
        width: 100%;
        font-size: 2em;
        font-weight: 900;
    }
    
    .aboutDescription{
        margin: 1% 0 0 0;
        text-indent: 20px;
        font-weight: bolder;
    }

    a{
        text-decoration: none;
    }

    #gamesDescription, #programsDescription{
        display: none;
    }

    #btnLang{
        width: 25%;
        height: 50%;
        background-color: rgb(93, 93, 93);
        font-weight: 800;
        font-size: 1em;
        color: #fff;
        outline: none;
    }

    #btnLang:active{
        background-color: rgb(192, 188, 188);
        box-shadow: inset 0 0 15px #000;
        color: #000;
    }

    #gamesBtn, #programsBtn{
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .btn {
        margin: 3% 0 0 0;
        width: 80px;
        height: 80px;
        background-color: rgb(50, 100, 168);
        border: 1px solid rgb(50, 100, 168);
        border-radius: 15px;
        outline: none;
        color: #fff;
        font-weight: bolder;
    }

    .btn:active{
        background-color: cornflowerblue;
        box-shadow: inset 0 0 15px #000;
        color: #000;
    }


    @media screen and(min-width: 640px){
        #btnLang{
            width: 50%;
            height: 75%;
        }
    }

    @media screen and (min-width: 768px) {

        #btnLang{
            width: 10%;
            height: 50%;
        }

        #mainContainer{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        #games, #programs{
            width: 100%;
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }        
     #gamesBtn, #programsBtn{
         width: 49%;
    }
     #gamesDescription, #programsDescription{
        width: 49%;
        display: block;
        font-weight: bolder;
        text-align: center;
     }
    }


    @media screen and(min-width: 1024px){
        #btnLang{
            width: 5%;
        }
    }

    @media screen and (min-width: 1440px) {
        #btnLang{
            width: 5%;
        }

        #mainContainer{
            height: 64%;
        }
    }